 .popcard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popcard-div-close {
  top: 15px;
  right: 20px;
  display: flex;
  justify-content: end;
width: 100%;
}
.popcard-close:hover {
  background-color: transparent; /* fundo transparente levinho */
  border-radius: 50%; /* deixa arredondado, fica melhor no hover */
}


.popcard-close {
  background: transparent;
  border: none;
  width: 10px;
  font-size: 1.8rem;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}


.popcard-card {
  position: relative;
  height: 90dvh;
  width: 40dvw;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.popcard-title {
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.popcard-description {
  flex: 1;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
}  

.popcard-div-botoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popcard-btn-close, .popcard-btn-save {
  width: 40%;
  height:30px;
  max-width: 200px;
  min-width: 100px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  color: white;
  font-weight: 400;
  padding: 0;
}

.popcard-col-save {
  display: flex;
  justify-content: flex-end; /* empurra o botão para a direita */
  align-items: center; /* para alinhar verticalmente se quiser */
}

.char-count {
  font-size: 0.8rem;
  color: #999;
  text-align: right;
  margin-top: 4px;
  margin-bottom: 8px;
}
.popcard-btn-close {
  background-color: #888888;
}

.popcard-btn-close:hover {
  background-color: #666666;
}

.popcard-btn-save {
  background-color: #28a745;
}

.popcard-btn-save:hover {
  background-color: #218838;
}

.popcard-row{
    width: 100%;
}

@media (max-width: 768px) { 

  .popcard-card {
    width: 85vw !important; 
    height: 90vdh; 
  }

  .popcard-col-save,
  .popcard-col-cancel {
    justify-content: center !important; 
  }

  .popcard-btn-close,
  .popcard-btn-save {
    width: 100% !important; 
    max-width: none !important; 
    min-width: 0 !important;
  }
}
